<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Long+Cang&display=swap" rel="stylesheet">
    <title>Proyecto</title>
</head>

<body>
    <center>
        <h1 style="color: #E52521;">
            Items maker 2 ---
        </h1>
    </center>
    <ul>
        <%for(let i = 0; i < data.length; i++){%>
            <li>
                <div class="imagen">
                    <br/>
                    <center>
                        <img alt src="<%=data[i].url_imagen%>" width="120" height="120">
                    </center>
                </div>
                <div class="texto">
                    <center>
                        <%=data[i].nombre%>
                    </center>
                </div>
            </li>
            <%}%>
    </ul>
    <h1>
        App2:
        <%=respuestaApp2%>
    </h1>
    <h1>
        App3:
        <%=respuestaApp3%>
    </h1>
</body>

</html>